@font-face {
  font-family: 'Arial Black';
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/Arial_Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/Segoe_UI.ttf') format('truetype');
}

@font-face {
  font-family: 'Segoe UI Black';
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/Segoe_UI_Black.ttf') format('truetype');
}
