.btn {
  border: 2px transparent;
  border-radius: var(--border-radius);
  padding: 1rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;

  &--primary {
    color: white;
    background-color: var(--primary-color);
  }

  &--border-white {
    border: 2px solid var(--light-color);
  }

  &--black {
    color: white;
    font-size: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI Black', sans-serif;
    background-image: var(--black-gradient);
  }

  &--movistar {
    color: white;
    font-size: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI Black', sans-serif;
    background-color: var(--movistar-blue-color);
  }
}
