@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  border-radius: var(--border-radius);
  overflow: hidden;
  font-size: 2rem;
  text-align: center;

  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 1px;

  @include respond(md) {
    grid-template-columns: 40% 60%;
    grid-template-rows: initial;
    grid-column-gap: initial;
    grid-row-gap: 1px;
  }

  &--plus &__title {
    grid-column: 1 / 7;
  }

  &__title {
    grid-column: 1 / 6;
    grid-row: 1 / 2;

    padding: 0.8rem;
    font-family: 'Segoe UI Black', sans-serif;
    font-size: 2.5rem;
    background-image: var(--black-gradient);

    @include center;
    @include respond(md) {
      grid-column: 1 / -1;
    }
  }

  &__th {
    grid-row: 2 / 3;

    padding: 0.8rem;
    font-family: 'Segoe UI Black', sans-serif;
    background-color: var(--dark-color);

    @include center;
    @include respond(md) {
      grid-column: 1 / 2;
      grid-row: initial;
    }
  }

  &__td {
    grid-row: 3 / 4;

    padding: 0.8rem;
    background-color: var(--grey-light-color);
    color: var(--dark-color);

    @include center;
    @include respond(md) {
      grid-column: 2 / 3;

      @for $i from 1 through 7 {
        &[data-td='#{$i}'] {
          grid-row: #{$i + 1} / #{$i + 2};
        }
      }
    }
  }

  // PARA LA TABLA DE LA RIFA
  &--raffle {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-areas:
      'title title title title'
      'th1 th2 th3 th4'
      'td1 td2 td3 td4'
      'arrow1 arrow1 arrow2 arrow2';

    @include respond(md) {
      grid-template-columns: initial;
      grid-template-areas:
        'title title empty'
        'th1 td1 arrow1'
        'th2 td2 arrow1'
        'th3 td3 arrow2'
        'th4 td4 arrow2';
      grid-template-rows: 1fr repeat(4, 10rem);
    }
  }

  &--raffle &__title {
    grid-area: title;
  }

  @mixin setPosition($name) {
    @for $i from 1 through 4 {
      &[data-#{$name}='#{$i}'] {
        grid-area: #{$name}#{$i};
      }
    }
  }

  &--raffle &__th {
    @include setPosition(th);
    text-transform: uppercase;
  }

  &--raffle &__td {
    @include setPosition(td);

    .highlight {
      font-family: 'Segoe UI Black', sans-serif;
    }
  }

  &--raffle &__arrow {
    @include setPosition(arrow);
  }

  &__arrow {
    padding: 0.8rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: 'Segoe UI Black', sans-serif;

    display: flex;
    justify-content: center;
    flex-direction: column;

    @include respond(md) {
      padding: 0.8rem 0;
      flex-direction: initial;
      align-items: center;

      span {
        display: inline-block;
        margin-right: 1rem;
        writing-mode: vertical-lr;
        flex: 0 0 40%;
      }
    }

    img {
      transform: rotate(180deg);
      height: 2rem;
      width: 100%;

      @include respond(md) {
        transform: rotate(90deg) rotateY(180deg);
      }
    }

    &--success {
      background-color: #2d7c09;
    }

    &--error {
      background-color: #cc1f36;
    }
  }
}
