.bgChip {
  color: var(--light-color);

  &--at-t {
    background-image: linear-gradient(to bottom, var(--att-color), #0092cc);
  }

  &--movistar {
    background-image: linear-gradient(to bottom, var(--movistar-color), #57b302);
  }

  &--unefon {
    background-image: linear-gradient(to bottom, var(--unefon-color), #d9ae11);
  }
}
