@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (max-width: 36em) {
      // 576px
      @content;
    }
  }

  @if $breakpoint == md {
    @media only screen and (max-width: 48em) {
      // 768px
      @content;
    }
  }

  @if $breakpoint == lg {
    @media only screen and (max-width: 62em) {
      // 992px
      @content;
    }
  }

  @if $breakpoint == xl {
    @media only screen and (max-width: 75em) {
      // 1200px
      @content;
    }
  }

  @if $breakpoint == xxl {
    @media only screen and (max-width: 87.5em) {
      // 1400px
      @content;
    }
  }

  @if $breakpoint == big {
    @media only screen and (min-width: 87.5em) {
      // +1400px
      @content;
    }
  }
}

@mixin containerStyle {
  padding: 4rem;
  min-height: 100vh;
  max-width: 1300px;
  margin: 0 auto;

  @include respond(md) {
    padding: 4rem 2rem;
  }
}

@mixin headingStyle {
  font-family: 'Arial Black', sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

@mixin finalNote {
  padding: 0.8rem 1.6rem;
  border-radius: var(--border-radius);
  background-image: linear-gradient(to right bottom, #6a3093, #a044ff);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 70%;
    width: 50%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    background-image: url('./assets/img/decorator-top.svg');
  }

  &::before {
    content: '';
    position: absolute;
    height: 50%;
    width: 50%;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    background-image: url('./assets/img/decorator-bottom.svg');
  }
}

@mixin modalContent {
  max-height: 60vh;
  overflow-y: scroll;
  color: #222222;
  text-align: center;
  font-size: 2rem;
  padding: 3rem 2rem;
}
