:root {
  --light-color: #fff;
  --grey-light-color: #f7f7f7;
  --dark-color: #222222;
  --border-radius: 5px;
  --black-gradient: linear-gradient(to right bottom, #000000, var(--dark-color));

  --att-color: #02a9e8;
  --movistar-color: #62c802;
  --unefon-color: #f3c414;
}
